<form action="/attend/<%= params.presentation_id %>" method="post">
    <p>
        <label>
            Your name:<br/>
            <input type="text" name="attendee[name]">
        </label>
    </p>

    <p>
        <label>
            Your e-mail:<br/>
            <input type="text" name="attendee[email]">
        </label>
    </p>

    <p>
        <input type="submit" value="Join">
    </p>
</form>
